---
interface Props {
    id: string;
    year: string;
    semester: string;
}
const { id, year, semester } = Astro.props;
import Loading from "./loading.astro";
---

<astro-course-info
    data-course-id={id}
    data-year={year}
    data-semester={semester}
>
    <div id="loading" class="flex justify-center items-center py-4">
        <Loading />
    </div>
    <div id="content" class="hidden">
        <p id="infos" class="text-gray-500 dark:text-gray-400 mb-0"></p>
        <h3 id="title" class="text-lg mb-0.5"></h3>
        <p id="teachers" class="text-sm text-gray-500 dark:text-gray-400 mb-4">
        </p>
    </div>
</astro-course-info>

<script>
    import * as store from "@/utils/store";
    import type { CourseSummary } from "@/types/schema";
    import { getCourseSummary } from "@/utils/fetch-course";
    class AstroCourseInfo extends HTMLElement {
        constructor() {
            super();
            const id = this.getAttribute("data-course-id") as string;
            const year = this.getAttribute("data-year") as string;
            const semester = this.getAttribute("data-semester") as string;
            this.initCourse(id, year, semester);
        }

        async initCourse(id: string, year: string, semester: string) {
            try {
                let course: CourseSummary | null = store.getCourse(id);
                if (!course) {
                    console.error("[CourseInfo] Course not found:", id);
                    console.log("[CourseInfo] Fetching course from API");
                    const response = await getCourseSummary(year, semester, id);
                    course = response;
                    if (!course) {
                        window.location.href = `/404`;
                        return;
                    }
                }
                console.log("[CourseInfo] Rendering course:", course);
                this.hideLoading();
                this.render(course);
            } catch (e) {
                console.error("[CourseInfo] Error loading course:", e);
                window.location.href = `/404`;
            }
        }

        hideLoading = () => {
            const loading = this.querySelector("#loading") as HTMLElement;
            const content = this.querySelector("#content") as HTMLElement;

            loading.classList.add("hidden");
            content.classList.remove("hidden");
        };

        render = (course: CourseSummary) => {
            const title = this.querySelector("#title") as HTMLElement;
            const teachers = this.querySelector("#teachers") as HTMLElement;
            const infos = this.querySelector("#infos") as HTMLElement;

            title.textContent = course.name;
            teachers.textContent = course.teachers;
            infos.textContent = `${course.campus} | ${course.semester} | ${course.period} `;
        };
    }

    customElements.define("astro-course-info", AstroCourseInfo);

    const fetchCourseInfo = (id: string) => {};
</script>
